#pizza-web {
    background-image: url("../images/b4.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0.1%;
    margin-right: 0.1%;
    border-radius: 0.5%;
    margin-bottom: 20px;
}
.jumbotron#j1 {
    font-family: 'Modak', cursive;
    background-image: url("../images/b3.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;   
}
.jumbotron#j1 h1 {
    font-size: 10vw;
    color: rgb(3, 3, 3);
    text-align: center;

}
.jumbotron#j1 p {
    font-size: 4vw;
    text-align: center;
    color: rgb(3, 3, 3);  
}
.jumbotron#j2 {
    font-family: 'Modak', cursive;
    background-image: url("../images/b4.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;  
}
.jumbotron#j2 p {
    font-size: 4vw;
    text-align: center;
    color: rgb(3, 3, 3);  
}
.card {
    background-color: seashell;
    padding-top: 10px;
}
.pizza-order {
    padding: 15px;
    border-radius: 1%;
}
.row {
    font-family: 'Raleway', sans-serif;
}
.card-header {
    text-align: center;
    border-color: blue;
    border-width: 4px;
    border-style: solid;
    
    margin-left: 1%;
    margin-right: 1%;
    
}
.card-title {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}
#pizza-num {
    margin-top: 15px;
}
button#add {
    float: right;
    margin-top: 5px;
    margin-bottom: 15px;
}
.delivery {
    margin-top: 20px;
    text-align: center;
    display: none;
}
.checkout {
    margin-top: 15px;
    float: right;
}
.location {
    margin-top: 20px;
    text-align: center;
    display: none;
}
button#location-submit {
    margin-top: 10px;
}
.payment {
    margin-top: 20px;
    text-align: center;
    display: none;
}
.noDelivery {
    margin-top: 20px;
    text-align: center;
    display: none;
}